*{
    color: #9399a2;
}
body{
    background-color: #0b111d;
    
    margin: 0;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
    flex-direction: column;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:rgb(32, 43, 61,0.9) !important ;
}
.glass-card{
    background: rgb(32, 43, 61,0.9);
}
    
.small-box{
    background: rgb(32, 43, 61,0.9);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
/* ----------STATISTIC TABLE(MEAN, MED, MODE.....)---------------*/
#statistic-box{
    background: rgb(32, 43, 61,0.9); 
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#statistic-box h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #4D7CFE;
}
.stats-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.stat-row.surprise {
    border-bottom: none;
    color: #00d1ff; 
    font-weight: bold;

}
*{
    color: rgb(240, 248, 255,0.8) !important;
}
