#main-box-v3{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    padding: 15px;
    width: 90vw;
    margin: 0 auto;
    min-height: 90vh
}

#right-box {
    display: grid;
    grid-template-rows: 1.5fr 1fr; 
    gap: 15px;
}

.chart-box {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wind-widgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}